:host{
  min-height: 90vh;
  width: 95%;
}
.lista-cards{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.todo, .doing, .done{
  margin: 10px 0 10px 0;
  min-height: 100px;
  width: 32%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1em;
  overflow: hidden;
}
.todo{background-color: rgb(224, 89, 89);}
.todo .cabecalho{background-color: rgb(255, 136, 136);}

.doing{background-color: rgb(216, 216, 73);}
.doing .cabecalho{background-color: rgb(255, 255, 128);}

.done{background-color: rgb(74, 194, 94);}
.done .cabecalho{background-color: rgb(136, 255, 156);}

.cabecalho{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(45, 45, 45);
}
.cabecalho h1{width: 80%;}
.cabecalho button{
  height: 30px;
  width: 30px;
  outline: none;
  border: solid 2px rgb(19, 19, 19);
  border-radius: .5em;
  background: none;
  cursor: pointer;
}

.todo .card{background: rgb(255, 136, 136);}
.doing .card{background-color: rgb(255, 255, 128);}
.done .card{background-color: rgb(136, 255, 156);}

.card{
  max-height: 450px;
  min-height: 150px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  padding: 5px;
  background-color: white;
  border-radius: .5em;
}

.card-header{
  min-height: 60px;
  height: 10%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-header h1{
  width: auto;
  max-width: 60%;
}
.card-header-btns{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-header-btns button{
  border: solid 2px black;
  border-radius: .5em;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

/*Tirando margem padrão do angular nos h1s */
h1 {
  margin: 0;
}
